html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
/* Чтобы футтор прижимался к низу страницы */

html,
body {
  height: 100%;
}
/* Чтобы футтор прижимался к низу страницы */

body {
  font-family: "Philosopher", sans-serif;
  font-size: 18px;
  line-height: 27px;
  font-weight: 300;
  color: #2c2b2b;
  background-color: #f9f4ee;
  line-height: 1.3; /* высота строки, высчитывается автоматом */
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none; /* Убираем подчеркиваение */
  color: inherit; /* Чтобы цвет брался у родителя */
  display: inline-block; /* Чтобы применялись свойства блочных */
}

.container {
  max-width: 1200px;
  margin-left: auto; /* Устанавливает внешний отступ слева от элемента */
  margin-right: auto; /* Устанавливает внешний отступ справа от элемента */
  padding: 0 10px; /* Устанавливает внутренние отступы/поля со всех сторон элемента */
}

.block_text {
  padding-right: 600px;
  padding-top: 219px;
  padding-bottom: 50px;
}

.header {
  color: #524133;
  background-color: #f2e8e6;
  /* position: fixed;
  width: 100%;
  z-index: 2; */
}

.header__inner {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu__list {
  display: flex;
  gap: 35px;
}

.menu__list-link {
  color: #3f2511;
}
/* .header__top { */
/* padding: 47px 0 45px; */
/* Сверху; слева-справа; Снизу */
/* display: flex; */
/* justify-content: space-between; */
/* На равное растояние раскидывает объякты */
/* align-items: center; */
/* } */

.phone {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px; /* identical to box height */
  padding-left: 338px;
}

.header__content {
  /* background-image: url(/images/header_bg2.png); */
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; /*  Является ли позиция этого изображения фиксированной 
 в области просмотра, или прокручивается вместе с содержащим его блоком. */
  /* background-position: top center; */
  min-height: 700px;
  position: relative;
}

.header__title {
  padding-top: 222px;
  font-weight: 400;
  font-size: 55px;
  line-height: 62px;
  text-align: center;
}

.header__subtitle {
  font-weight: 400;
  font-size: 25px;
  line-height: 31px;
  margin-top: 87px;
  margin-bottom: 87px;
}

.button {
  font-weight: 400;
  font-size: 24.5px;
  line-height: 31px;
  padding: 24px 58px 24px;
  border: 2px solid #524133;
  border-radius: 15px;
}

.footer {
  background-color: #f2e8e6;
  padding: 54px 0 64px;
}

.footer__menu {
  display: flex;
  justify-content: space-between;
}

.footer__menu_list {
  max-width: 250px;
}

.footer__menu-title {
  font-size: 20px;
  font-weight: 600;
  line-height: 25px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.footer__menu-item + .footer__menu-item {
  margin-top: 30px;
}

/* .app{
  display: flex;
  gap: 25.5px;
 } */

.main {
  flex-grow: 1;
  /* Чтобы футтор прижимался к низу страницы */
}

.top {
  text-align: center;

  /* background-image: url("../images/header_bg2.png"); */
  position: relative;
}

hr {
  width: 380px;
  /* left: 226.67px;
  top: 499.72px; */
  border: 2px solid #94897f;
}
.top img {
  position: absolute;
  height: 100%;
  z-index: -1;
  overflow: hidden;
  right: -100px;
}

.title {
  padding-bottom: 45px;
  /* растояние от заголовка до кнопки */
  font-weight: 400;
  font-size: 50px;
  display: flex;
}

.top__link {
  font-weight: 400;
  font-size: 24.5px;
  line-height: 31px;
  padding: 24px;
  max-width: 380px;
  width: 100%;
  display: flex;
  background-color: transparent;
  padding-left: 58px;
  padding-right: 57px;
  border: solid;
  border-color: #524133;
  border-radius: 15px;
}

.i-am {
  padding: 120px 0 120px;
}

.i-am-title {
  margin: 0 0 40px;
  text-align: center;
  font-family: "Philosopher";
  font-weight: 400;
  font-size: 35px;
  line-height: 39px;
  color: #524133;
}

.i-am_info {
  display: flex;
  align-items: center;
}

.i-am__text p {
  margin: 0 0 30px;
  font-family: "Mulish";
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  color: #7b6e62;
}

.i-am__bottom {
  text-align: right;
}

.i-am__photo {
  margin-right: 78px;
}

.price {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #ceb8a3;
}

.price-list {
  display: flex;
  justify-content: space-between;
  /* Распределяется блоки с одинаковыми отступами */
  text-align: center;
}

.price-item img {
  margin-bottom: 40px;
}

.price-item h1 {
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 35px;
  line-height: 39px;
  color: #524133;
}

.price-item h3 {
  font-weight: 400;
  font-size: 24.5px;
  line-height: 31px;
  color: #7f6c5c;
  margin: 0;
}

.instagram__title {
  margin-top: 120px;
  margin-bottom: 65px;
  text-align: center;
}
.instagram__photo {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

/* Страница цен */

.title-name {
  vertical-align: middle;
  width: 100%;
}

.title-name h1{
  display: block;
   background-color: #ceb8a3;
  min-height: 126px;
  font-family: "Philosopher";
  font-weight: 400;
  font-size: 48px;
  text-align: center;
  padding-top: 36px;
}

.prise-wedd {
  padding: 52px 0;
}

.prise-wedd__link {
  font-weight: 400;
  font-size: 24.5px;
  line-height: 31px;
  padding: 24px;
  max-width: 380px;
  width: 100%;
  /* display: flex;
  justify-content: center; */
  background-color: transparent;
  padding-left: 58px;
  padding-right: 57px;
  border: solid;
  border-color: #524133;
  border-radius: 15px;
}

.price__list {
  font-family: "Mulish";
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  padding-left: 35px;
  background-image: url(../images/heart.svg);
  background-position: 0 9px;
  background-size: 19px 17px;
  background-repeat: no-repeat;
  margin: 0 0 24px;
}

.prise-wedd__inner {
  display: flex;
  justify-content: space-between;
}

.prise-wedd__cards {
  width: 480px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.prise-wedd__title {
  font-weight: 400;
  font-size: 40px;
  line-height: 45px;
  text-align: center;
  margin: 0 0 45px;
}

.prise-wedd__title__mini {
  text-align: center;
  margin: 35px 0 35px;
  font-weight: 400;
  font-size: 24px;
  line-height: 27px;
}

.prise-wedd__title__price {
  font-weight: 400;
  font-size: 24px;
  line-height: 27px;
  margin: 35px 0 35px;
  text-align: center;
}

.prise-wedd__plus__maxi {
  padding: 190px 0 190px;
}
