html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Philosopher", sans-serif;
  font-size: 18px;
  line-height: 27px;
  font-weight: 300;
  color: #524133;
  background-color: #F9F4EE;
  line-height: 1.3;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 132px;
}

.main_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}



.header {
  color: #524133;
  background-color: #f2e8e6;
}

.burger_menu {
  display: none;
  align-items: center;
  width: 40px;
}

.menu_btn {
  width: 40px;
  height: 40px;
  position: absolute;
  z-index: 6;
  overflow: hidden;
}

.menu_btn:hover {
  cursor: pointer;
}

.menu_btn span {
  width: 26px;
  height: 3px;
  border: 2px solid rgba(82, 65, 51, 0.85);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.5s;
}

.menu_btn span:nth-of-type(2) {
  top: calc(50% - 8px);
}

.menu_btn span:nth-of-type(3) {
  top: calc(50% + 8px);
}

.menu_burger {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background-color: #00000062;
  backdrop-filter: blur(10px);
  transform: translateX(+100%);
  transition: transform 0.5s;
  z-index: 2;
}

.menu_list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 100%;
}

.menu_burger.active {
  transform: translateX(0%);
}

.menu-item .burger_link {
  list-style-type: none;
  font-size: 25px;
  color: #c1bebe;
  line-height: 40px;
}

.menu_link {
  font-family: Trebuchet MS, Tahoma;
  text-transform: uppercase;
  font-size: 2em;
  letter-spacing: 0.14em;
  word-spacing: 0.3em;
  color: #ffffffff;
  line-height: 2.5;
}

.menu_btn.active span:first-of-type {
  opacity: 0;
  transform: translateX(100%);
}

.menu_btn.active span:nth-of-type(2) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.menu_btn.active span:nth-of-type(3) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.header__inner {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu__list {
  display: flex;
  gap: 35px;
}

.menu__list-link {
  color: #3f2511;
  transition: 1s;
}

.menu__list-link:hover {
  scale: 1.1;
}

.phone {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  transition: 1s;
}

.phone:hover {
  scale: 1.1;
}

.header__content {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 700px;
  position: relative;
}

.header__title {
  padding-top: 222px;
  font-weight: 400;
  font-size: 55px;
  line-height: 62px;
  text-align: center;
}

.header__subtitle {
  font-weight: 400;
  font-size: 25px;
  line-height: 31px;
  margin-top: 87px;
  margin-bottom: 87px;
}

@media (max-width: 729px) {
  .menu,
  .menu__list-item {
    display: none;
  }
  .burger_menu {
    display: flex;
    align-items: center;
    width: 40px;
  }
}



.title__2 {
  padding: 44px 0px 55px 0px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
}

.block_text {
  position: relative;
  width: 600px;
  margin-left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 132px;
}

.button {
  font-weight: 400;
  font-size: 24.5px;
  line-height: 31px;
  padding: 24px 58px 24px;
  border: 2px solid #524133;
  border-radius: 15px;
}

.footer {
  display: flex;
  background-color: #f2e8e6;
  padding: 54px 200px 64px 200px;
  justify-content: center;
}
.footer__menu {
  width: 100%;
  max-width: 1350px;
  display: flex;
  justify-content: space-around;
  gap: 35px;
  flex-wrap: wrap;
}

.center_list {
  width: 398px;
  display: flex;
}

.item_wrapper {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.footer__menu_link {
  transition: 1s;
}

.footer__menu_link:hover {
  scale: 1.1;
}

.app__item-link {
  transition: 1s;
}

.app__item-link:hover {
  scale: 1.5;
}

.center_list .footer__menu_list {
  min-width: 118px;
}

.center_list .footer__menu_list:first-child {
  margin-right: 150px;
}

.footer__menu-item + .footer__menu-item {
  margin-top: 30px;
}

.main {
  flex-grow: 1;
}

.top {
  display: flex;
  text-align: center;
  width: 100%;
  max-width: 1440px;
  overflow: hidden;
  height: 870px;
  position: relative;
  align-items: center;
}

.top hr {
  width: 380px;
  border: 2px solid #94897f;
  border-radius: 2px;
}

.top img {
  position: absolute;
  height: 868px;
  z-index: -1;
  overflow: hidden;
  right: -400px;
  top: 0px;
}

.title {
  padding-bottom: 55px;
  font-weight: 400;
  font-size: 50px;
  display: flex;
}

.top__link {
  font-weight: 400;
  font-size: 24.5px;
  line-height: 31px;
  width: 380px;
  height: 79px;
  display: flex;
  border: 2px solid #524133;
  border-radius: 15px;
  font-family: "Mulish";
  align-items: center;
  justify-content: center;
  transition: 1s;
}

.top__link:hover {
  background-color: #ceb8a3;
  border: 2px transparent;
}

.i-am {
  padding: 120px 0 120px;
  width: 100%;
  max-width: 1440px;
}

.i-am__photo {
  margin-right: 40px;
  height: 688px;
}

.i-am-title {
  margin: 0 0 40px;
  text-align: center;
  font-family: "Philosopher";
  font-weight: 400;
  font-size: 35px;
  line-height: 39px;
  color: #524133;
}

.i-am_info {
  display: flex;
  align-items: flex-start;
}

.i-am-title_outer {
  display: none;
  margin: 0 0 40px;
  text-align: center;
  font-family: "Philosopher";
  font-weight: 400;
  font-size: 35px;
  line-height: 39px;
  color: #524133;
}

.i-am__text {
  max-width: 560px;
}

.i-am__text p {
  margin: 0 0 30px;
  font-family: "Mulish";
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  color: #7b6e62;
}

.i-am__love {
  padding-right: 40px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 35px;
}

.i-am__love__tora {
  font-family: "Allura";
  font-style: normal;
  font-weight: 400;
  font-size: 66px;
  line-height: 82px;
  color: #3f2511;
}

.i-am__bottom {
  text-align: right;
}

.price {
  width: 100%;
  max-width: 1440px;
  padding-top: 108px;
  padding-bottom: 74px;
  background-color: #ceb8a3;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.price-list {
  width: 100%;
  max-width: 1440px;
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 39px;
  flex-wrap: wrap;
}

.price-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.price-item img {
  margin-bottom: 40px;
  height: 550px;
}

.price-item h2 {
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 35px;
  line-height: 39px;
  color: #524133;
}

.price-item h3 {
  font-family: "Mulish";
  font-weight: 400;
  font-size: 24.5px;
  line-height: 31px;
  color: #7f6c5c;
  margin: 0;
  transition: 1s;
  height: 65px;
}

.price-item h3:hover {
  box-shadow: inset 400px 0 0 0 #f9f4ee;
  border-radius: 15px;
  padding: 18px 36px;
  display: inline-block;
  cursor: pointer;
}

.instagram__title {
  margin-top: 147px;
  margin-bottom: 65px;
  font-weight: 400;
  text-align: center;
}
.instagram__photo {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  /* width: 1176px; */
  gap: 19px;
  flex-wrap: wrap;
}

.tora__alesandra {
  transition: 1s;
  height: 5px;
}

.tora__alesandra:hover {
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
}

.bot_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bot_container a {
  margin-bottom: 173px;
}

/* Страница цен */

.contacts{
  padding-top: 52px;
}

.title-name {
  vertical-align: middle;
  width: 100%;
}

.title-name h1 {
  background-color: #ceb8a3;
  min-height: 126px;
  font-weight: 400;
  font-size: 48px;
  text-align: center;
  padding-top: 36px;
}

.prise-wedd__mini__standart {
  padding-top: 86px;
}

.prise-wedd {
  padding: 52px 0;
}

.prise-wedd__link {
  font-weight: 400;
  font-size: 24.5px;
  line-height: 31px;
  padding: 24px;
  max-width: 380px;
  width: 100%;
  background-color: transparent;
  padding-left: 58px;
  padding-right: 57px;
  border: solid;
  border-color: #524133;
  border-radius: 15px;
  transition: 1s;
}

.prise-wedd__link:hover {
  background-color: #ceb8a3;
  border: 2px transparent;
}

.price__list {
  font-family: "Mulish";
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  padding-left: 35px;
  background-image: url(../images/heart.svg);
  background-position: 0 9px;
  background-size: 19px 17px;
  background-repeat: no-repeat;
  margin: 0 0 24px;
}

.prise-wedd__inner {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1420px;
  margin-top: 86px;
}

.prise-wedd__cards {
  width: 480px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0 0 190px;
}

.prise-wedd__title {
  font-weight: 400;
  font-size: 40px;
  line-height: 45px;
  text-align: center;
  margin: 0 0 45px;
}

.prise-wedd__title__mini {
  text-align: center;
  margin: 35px 0 35px;
  font-weight: 400;
  font-size: 24px;
  line-height: 27px;
}

.prise-wedd__title__price {
  font-weight: 400;
  font-size: 24px;
  line-height: 27px;
  margin: 35px 0 35px;
  text-align: center;
}

.prise-wedd__plus__maxi {
  padding: 190px 0 190px;
}

/* Страница портфолио */

.portfolio-wedd {
  padding: 52px 0;
}

.portfolio__inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1440px;
  gap: 10px;
}

@media (max-width: 1450px){
  .portfolio__inner{
    gap: 150px;
  }
}

@media (max-width: 1110px){
  .portfolio__inner{
    gap: 50px;
    justify-content: center;
  }
}

.indent {
  margin: 86px 0 86px;
}

.portfolio-wedd__photo {
  margin: 0 0 24px;
}

.portfolio-wedd__title {
  font-weight: 400;
  font-size: 40px;
  line-height: 45px;
  text-align: center;
  color: #524133;
  transition: 1s;
}

.portfolio-wedd__photo {
  display: inline-block;
  overflow: hidden;
}

.portfolio-wedd__photo img {
  transition: 1s;
  display: block;
}

.portfolio-wedd__title:hover {
  color: #524133;
  -webkit-text-shadow: 3px 3px 3px #ceb8a3;
  -moz-text-shadow: 3px 3px 3px #ceb8a3;
  text-shadow: 3px 3px 3px #ceb8a3;
}

.photo__img:hover {
  transform: scale(1.1);
}

/* Страница контакты */

.contacts {
  padding-bottom: 70px;
}

@media (max-width: 900px){
  .contacts{
    padding-bottom: 0;
  }
}

.footer__menu-title {
  font-size: 20px;
  font-weight: 600;
  line-height: 25px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.contacts__inner {
  color: #524133;
  margin-top: 94px;
  display: flex;
  flex-direction: row;
  width: 100%;
}

@media (max-width: 1190px){
  .contacts__inner{
    flex-direction: column;
  }
}


.contacts-form {
  text-align: center;
}

.contacts__title {
  margin: 0 0 74px;
  color: #524133;
}

.contacts__name {
  font-weight: 400;
  font-size: 40px;
  font-weight: normal;
}

.contacts__text {
  font-size: 24px;
  font-family: Mulish;
}

.contacts__inputs {
  padding: 22px 18px;
  margin: 10px;
  border: none;
  margin-bottom: 49px;
  background-color: #efe6de;
  border-radius: 11px;
  width: 280px;
  height: 63px;
}



.contacts__inputs:focus-visible{
  outline: none;
}

.contacts__inputs::placeholder {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #524133;
  opacity: 0.5;
  font-family: Mulish;
}

@media (max-width: 1190px){
  .contacts__inputs{
    width: 100%;
    margin: 27px 0px;
  }
}

.contacts__message {
  padding: 0 0 80px;
}

textarea {
  background: #f9f4ee;
  border: 1px solid #8c7f74;
  border-radius: 11px;
  padding: 18px;
  width: 580px;
  height: 136px;
  box-sizing: border-box;
  font-size: 14px;
}

@media (max-width: 650px){
  textarea{
    width: 100%;
  }
}

textarea::placeholder {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #524133;
  opacity: 0.5;
  font-family: Mulish;
}

.contacts-form button {
  border: none;
  text-transform: uppercase;
  color: #524133;
  background-color: #ceb8a3;
  border-radius: 15px;
  padding: 24px 61px;
  font-size: 17px;
  font-weight: 400;
  cursor: pointer;
  transition: 1s;
}

.contacts-form button:hover {
  background-color: #b29c88;
}

.address__inner {
  max-width: 1174px;
  color: #524133;
  opacity: 80%;
  text-align: center;
  font-size: 24px;
  font-family: Mulish;
  margin: 0 auto 85px;
  font-weight: 400;
  padding: 0 10px;
}

@media (max-width: 900px){
  .address__inner{
    display: none;
  }
}

.Address {
  margin-bottom: 86px;
}

.adress__items {
  display: flex;
  justify-content: space-between;
  padding: 0 90px 0;
}

@media (max-width: 900px){
  .adress__items{
    display: none;
  }
}

.adress__item {
  width: 270px;
  text-align: center;
}

.adress__item-title {
  font-size: 24px;
  font-weight: 400;
}

hr {
  width: 50%;
  margin: 15px 25% 15px 25%;
  width: 156px;
  border: 1px rgba(82, 65, 51, 0.65) solid;
}

.adress__item-text {
  font-size: 20px;
  font-family: Mulish;
  font-weight: 400;
  opacity: 80%;
}

/* Медиа запросы  */

@media (max-width: 500px) {
  .footer {
    padding-left: 20px;
    padding-right: 20px;
  }

  .photo__img {
    width: 100%;
  }

  .center_list {
    justify-content: space-between;
  }

  .center_list .footer__menu_list:first-child {
    margin-right: 0;
  }
}



@media (max-width: 880px) {
  .portfolio__inner {
    justify-content: center;
  }
  .indent {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 1000px) {
  .prise-wedd__inner {
    justify-content: center;
  }
}

@media (max-width: 1024px) {
  .wed__img {
    /* width: 80%; */
  }
  .price__list {
    font-size: 18px;
  }
  .prise-wedd__title {
    font-size: 24px;
  }
  .prise-wedd__title__mini {
    font-size: 30px;
  }
}

@media (max-width: 1050px) {
  .footer__menu_list .footer__menu-title {
    margin-bottom: 0;
  }

  .scnd_in_list {
    text-align: right;
  }
  .footer {
    font-size: 14px;
  }
  .fst_el_of_footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 1220px) {
  .portfolio__inner {
    /* flex-wrap: wrap; */
    /* display: block; */
  }
}

@media (max-width: 1440px) {
  .container{
    padding: 0 24px;
  }
  
  .top {
    height: 1050px;
    flex-direction: column;
    left: 0px;
    justify-content: flex-end;
    align-items: center;
  }
  .top .title  {
    font-size: 30px;
    padding-bottom: 23px
  }

  .top hr {
    width: 242px;
  }

  .top .title__2 {
    font-size: 14px;
    padding: 25px 0px 34px 0px;
  }

  .top .top__link{
    font-size: 12px;
    line-height: 15px;
    width: 203px;
    height: 42px;
  }

  .block_text {
    padding-top: 100px;
    left: 0;
    position: absolute;
    width: 100%;
    background: linear-gradient(#ffffff00, #f7f4ee 43%);

  }
}


@media (max-width: 1439px) {
  .i-am__bottom {
    text-align: right;
    margin-right: calc(53.5% / 2);
  }
  .i-am-title_outer {
    display: block;
  }
  .i-am_info {
    align-items: center;
    flex-direction: column;
  }
  .i-am-title {
    display: none;
  }
  .i-am__photo {
    height: auto;
    width: 50vw;
    max-width: 1000px;
    margin: 0;
  }
}

@media (max-width: 780px) {

  .top {
    height: 770px;
  }

  .logo__img {
    width: 44px;
  }

  .top img {
    top: -50px;
    right: -400px;
    height: 620px;
  }

  .i-am-title_outer {
    font-size: 25px;
    line-height: 28px;
  }

  .i-am__photo {
    width: 85vw;
  }

  .i-am__text p {
    font-size: 12px;
    font-family: Mulish;
    line-height: 15px;
    letter-spacing: 0em;    
    margin: 0 0 15px;
  }

  .i-am__bottom{
    margin-right: 0;
  }

  .i-am__love {
    font-size: 14px;
  }

  .i-am__love__tora {
    font-size: 33px;
    line-height: 41px;
  }

  .i-am {
    padding: 120px 0 40px;
  }
}